node_modules
/config/config.env
.elasticbeanstalk/
/uploads
/avatar
.env
/saved reports
/pdf
/app

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
